/*
 DEFAULT STYLES
*/

body {
  margin: 0;
  font-family: "lato", sans-serif;
  font-size: 62.5%;
  color: #000000;
}

a{
  text-decoration: none;
  font-size: 1.1rem;
  color: #000000;
}

.container{
  width: 960px;
  margin: 0 auto;
}

 .floatRight{
   float: right;
 }

/*
 DEFAULT STYLES
*/


/*
  HEADER
*/

.topBar .container{
  width: auto;
  background:#0057b8;
  height: 50px;
  box-shadow: 0 1px 10px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1{
  color: white;
  font-size: 1.4rem;
  font-weight: normal;
}

.button{
	background-color:#FFFFFF;
  color: #0057b8;
  font-size: 0.9rem;
	border-radius: 1rem;
  padding:0.1rem 0.4rem;
}

.button_body{
	background-color:#0057b8;
  color: #FFFFFF;
  font-size: 1.5rem;
	border-radius: 2em;
  padding:0.1em 0.4em;
}

a.button:hover{
 background-color:#CCCCCC;
 color: #0057b8;
 transition-duration: 0.7s;
 text-decoration: none;
}

@media only screen and (orientation: portrait) and (max-width: 700px){
  .topBar .container{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .logo{
    display: none;
  }

  h1{
    font-size: 1rem;
  }

  .button{
    font-size: calc(150%);
  }
}

/*
  HEADER
*/



/*
  MAIN PREORDER
*/

body{
  background-size: cover;
  background-image:url("../images/preorder/background_order.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p a{
  text-decoration: none;
  color: #0057b8;
  font-size: 0.8rem;
}

.floatRight{
  transform: translateY(7.5%);
}

.floatRight form{
  float: right;
  margin: 1.4rem 1.4rem 1.4rem 1.4rem;
  padding: 0 0.7rem 0.7rem 0.7rem;
  width: 40rem;
  color: #000000;
  font-weight: normal;
  background-color: rgba(255,255,255,0.5) ;
  }

form h2{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 0 auto;
}

.line_form{
  border-bottom: 0.12rem solid #000000;
  width: 40%;
  margin: 0 auto;
}

form p{
  font-size: 1.4rem;
  width: 70%;
  margin: 0 auto;
  padding: 1rem 0 2rem 0;
}

.newsletter{
  font-size: 0.8rem;
  margin: 0 0 0 5px;
  margin: 0 auto;
}

.newsletter a:hover{
  text-decoration: underline;
}

label{
  font-size: 1rem;
}

.required_name , .required_email{
  margin-left: 6rem;
}

#fname{
  width: 25%;
  margin: 0 auto;
  padding: 0.5rem 1.4rem;
  margin: 0.5rem 0.4rem ;
  border: 1px solid #000000;
  box-sizing: border-box;
}

#email{
  width: 50%;
  margin: 0 auto;
  padding: 0.5rem 1.3rem;
  margin: 0.5rem 0 ;
  border: 1px solid #000000;
  box-sizing: border-box;
}

input[type=submit]{
  cursor: pointer;
  margin: 0 0 0 25.5rem;
  background-color:#0057b8;
  color: #FFFFFF;
  font-size: 0.8rem;
	border-radius: 2em;
  padding: 0.6rem;
  border-style: none;
}

input[type=submit]:hover{
  background-color: #FFFFFF;
  color: #0057b8;
  transition-duration: 0.4s;
}

@media only screen and (orientation: portrait) and (max-width: 800px){
  .floatRight form{
    width: calc(70%);
  }

  form h2{
    font-size: 1.2rem;
  }

  form p{
    font-size: 0.8rem;
  }

  label {
    font-size: 0.8rem;
  }

  .required_name , .required_email{
    margin-left: 2rem;
  }

  #fname , #email{
    padding: 0.1rem 1rem;
  }

  input[type=submit]{
    margin: 0 10rem 0 7rem;
  }

  .newsletter , p a{
    font-size: 0.5rem;
  }
}

/*
  MAIN PREORDER
*/


/*
  FOOTER
*/

.bottomBar .container{
  width: 100%;
  position: absolute;
  bottom: 0;
  background:#E5E8EB;
  height: 50px;
  box-shadow: 0 1px 10px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.line_footer{
  border: 0.04rem solid #000000;
  height: 30px;
}

a ~ span{
  font-size: 0.9rem;
  color: #818080;
}

a:hover{
  text-decoration: underline;
}

@media only screen and (orientation: portrait) and (max-width: 700px){
  .bottomBar .container{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

.logo_footer{
  width: calc(50%);
}

.line_footer{
  height: calc(40%);
}

  a{
    font-size: calc(100%);
  }

  a ~ span{
    font-size: 0.5rem;
  }
}

/*
  FOOTER
*/
